body{
    background-color: #022B3A;
}
/* entire page */
#signup{
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 8% 10%;
    display: grid;
}
/* sign up header */
#header{
    color: #ededef;
    font-size: 8pc;
    font-weight: 200;
    align-self: center;
    justify-self: center;
    width: 100%;
    margin-bottom: 45px;
    font-family: "Garamond", Times, serif;
}

#form{
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    background-color: #021f2aab;
    border-radius: 6px;
    padding: 20px;
}

#usernameSection{
    position: relative;
    margin-bottom: 20px;
    width:100%;
    justify-content: center;
    align-items: center;
}

#username{
    color:  #738290;;
    font-family: "Garamond", Times, serif;
    margin-bottom: 17px;
    font-size: 20px;
}

#usernameInput{
    position: relative;
    background-color: #022B3A;
    color: #ededef;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 25px;
    border: 1.5px solid #01212d;
    border-radius: 5px;
    font-family: "Garamond", Times, serif;
    padding: 4px;
    margin-left: 5px;
}

#usernameInput:hover{
    box-shadow: 0 2.5px 10px #022B3A;
    background-color: #023344;
}
/* create password section */
#password1Section{
    position: relative;
    margin-bottom: 20px;
    width:100%;
    justify-content: center;
    align-items: center;
}
#password1{
    color:  #738290;;
    padding-right: 3px;
    font-family: "Garamond", Times, serif;
    font-size: 20px;
}

#passwordInput1{
    position: relative;
    background-color: #022B3A;
    color: #ededef;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 25px;
    border: 1.5px solid #01212d;
    border-radius: 5px;
    font-family: "Garamond", Times, serif;
    padding: 4px;
    margin-left: 5px;
}
#passwordInput1:hover{
    box-shadow: 0 2.5px 10px #022B3A;
    background-color: #023344;
}

/* confirm passoword section */
#password2Section{
    position: relative;
    margin-bottom: 20px;
    width:100%;
    justify-content: center;
    align-items: center;
}
#password2{
    color:  #738290;;
    padding-right: 3px;
    font-family: "Garamond", Times, serif;
    font-size: 20px;
}

#passwordInput2{
    position: relative;
    background-color: #022B3A;
    color: #ededef;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 25px;
    border: 1.5px solid #01212d;
    border-radius: 5px;
    font-family: "Garamond", Times, serif;
    padding: 4px;
    margin-left: 5px;
}

#passwordInput2:hover{
    box-shadow: 0 2.5px 10px #022B3A;
    background-color: #023344;
}

/* submit button */
#submitButton{
    position: relative;
    align-items: center;
    justify-content: center;
    border: 2px #32161F;
    border-radius: 6px;
    width: 150px;
    height: 34px;
    background-color: #32161F;
    color: #FFFDFD;
    font-size: 20px;
    margin: 5px 125px;
    font-family: "Garamond", Times, serif;
}

#submitButton:hover{
    box-shadow: 0 3px 10px rgba(56, 5, 5, 0.606);
    background-color: #360c18;
}